header {
    background-color: #B8D0EB;
    color: #6F2DBD;
}

header h1 {
    text-align: center;
}

body {
    background-color: #B8D0EB;
    color:#6F2DBD;
    text-align: center;
    font-size: x-large;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 4vw;
}

.time {
    font-size: xx-large;
}

.start {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: #6F2DBD;
    color: #B8D0EB;
    font-size: 5.2rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px;
}

.start:hover {
    box-shadow: 0 2px;
    top: -2px;
}

.start:active {
    box-shadow: 0 0px;
    top: 0;
}

.container-questions {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.question-title {
    margin-bottom: 3vw;
    visibility: hidden;
}

.choices {
    display: inline-block;
    visibility: hidden;
}

.choices button {
    margin-right: 1vw;
    margin-bottom: 2vw;
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: #6F2DBD;
    color: #B8D0EB;
    font-size: 2.2rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px;
}

.choices button:hover {
    box-shadow: 0 2px;
    top: -2px;
}

.choices button:active {
    box-shadow: 0 0px;
    top: 0;
}